<div>
    <p><b>Company: </b>{{site.data.career.current.company}}</p>
    <p><b>Contracted To: </b>{{site.data.career.current.contracted_to}}</p>
    <p><b>Time Employed: </b>{{site.data.career.current.time}}</p>

    <p>{{site.data.career.current.details}}</p>
    <p>{{site.data.career.current.product}}</p>

    <h4>Projects:</h4>

    <div class="standard_flex">
        {% for project in site.data.career.current.projects %}
        <div class="standard_flex_item">
            <h5>{{project.name}}</h5>
            <p>{{project.details}}</p>
        </div>
        {% endfor %}
    </div>
</div>
<div>
    <h3>Past</h3>

    <div class="standard_flex">
        {% for role in site.data.career.past %}
        <div class="centered standard_flex_item">
            <h5>{{role.name}}</h5>
            <p><b>Role: </b>{{role.role}}</p>
            <p><b>Time Employed: </b>{{role.time}}</p>
        </div>
        {% endfor %}
    </div>
</div>
<div>
    <h3>Education</h3>

    <div class="standard_flex">
    {% for edu in site.data.career.education %}
        <div class="standard_flex_item centered">
            <h5>{{edu.name}}</h5>
            {% if edu.qualification %}
            <p><b>Qualification: </b>{{edu.qualification}}</p>
            {% endif %}
            {% if edu.status %}
            <p><b>Status: </b>{{edu.status}}</p>
            {% endif %}
            {% if edu.explanation %}
            <p>{{edu.explanation}}</p>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>