<div class="icons-header standard_flex">
    <div class="standard_flex_item">
        <div>
            <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i
                    class="icon fa fa-twitter" aria-hidden="true"></i></a>
            <a aria-label="My Linked In" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin}}/posts"><i
                    class="icon fa fa-linkedin" aria-hidden="true"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i
                    class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        </div>
        <a class="link" aria-label="Send email" href="mailto:{{site.email}}">{{site.email}}</a>
        <div>
            {{site.phone}}
        </div>
    </div>

</div>