<br>
<section id="{{section.link}}" class="section container">
    <div class="page">
        <h3>About me</h3>
        {% include about.html %}
        <hr/>
        <h3>Open Source</h3>
        {% include opensource.html %}
    </div>
    <div class="page">
        <h3>Employment</h3>
        {% include employer.html %}
        <hr/>
        {% include past_employment.html %}
        <hr/>
        <h3>Technical</h3>
        {% include tech.html %}
        <hr/>
        {% include conferences.html %}
        <hr/>
        {% include community.html %}
        <hr/>
        {% include education.html %}
    </div>
    <div class="page">
        {% include refs.html %}
    </div>
</section>
