<div>
    <h3>Conferences</h3>

    <p>{{site.data.cpd.conferences.info}}</p>

    {% for event in site.data.cpd.conferences.events %}
    <h5>{{event.name}}</h5>
    <p><b>Category:</b> {{event.category}}</p>
    <p><b>Times attended:</b> {{event.times}}</p>
    <p>{{event.details}}</p>
    {% endfor %}
</div>
<div>
    <h3>Open Source</h3>

    {% for project in site.data.cpd.conferences.project %}
    <h5>{{project.name}}</h5>
    <p><b>{{project.involvement}}</b></p>
    <p><b>Link:</b> {{project.link}}</p>
    <p>{{project.details}}</p>
    {% endfor %}

</div>
<div>
    <h3>Community</h3>

    {% for group in site.data.cpd.community %}
    <h5>{{group.group}}</h5>
    <dl>
        {% for event in group.events %}
        <dt>{{event.name}}</dt>
        <dd>{{event.details}}</dd>
        {% endfor %}
    </dl>
    {% endfor %}
</div>