<div class="education">
    <h3>Education</h3>

    <div class="standard_flex">
        {% for edu in site.data.career.education %}
        <div class="standard_flex_item centered">
            <h5>{{edu.name}}</h5>
            {% if edu.qualification %}
            <p><b>Qualification: </b>{{edu.qualification}}</p>
            {% endif %}
            {% if edu.status %}
            <p><b>Status: </b>{{edu.status}}</p>
            {% endif %}
            {% if edu.explanation %}
            <p>{{edu.explanation}}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>