<div id="particles-js">
  <div class="header" id="head">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      {% include contact.html %}
      {% for section in site.data.sections %}
      {% if section.title %}
      <a class="link section-link" href="#{{section.link}}" data-scroll>{{section.title}}</a>
      {% endif %}
      {% endfor %}
      <br/>
      <h4> {{site.data.about.hire}} </h4>
      <br/>
      <a class=link href="{{site.pdf}}">PDF Version</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>