<div class="tech">
    <h5>Operating System</h5>
    <p>{{site.data.tech.os.details}}</p>

    <h5>Version Control</h5>
    <p>{{site.data.tech.version_control.details}}</p>

    <h5>Languages, Libraries and Skills</h5>
    <dl class="standard_flex">
        {% for ide in site.data.tech.libraries %}
        <div class="standard_flex_item">
            <dt>{{ide.name}}</dt>
            <dd>{{ide.details}}</dd>
        </div>
        {% endfor %}
    </dl>

    <h5>IDE's and Editors</h5>
    <dl class="standard_flex">
    {% for ide in site.data.tech.ides %}
        <div class="standard_flex_item">
            <dt>{{ide.name}}</dt>
            <dd>{{ide.details}}</dd>
        </div>
    {% endfor %}
    </dl>

    <h5>Profilers</h5>
    <dl class="standard_flex">
        {% for prof in site.data.tech.profilers %}
        <div class="standard_flex_item">
            <dt>{{prof.name}}</dt>
            <dd>{{prof.details}}</dd>
        </div>
        {% endfor %}
    </dl>
    <br>
</div>