@import 'colours.scss';
@import 'constants.scss';
@import "sass-rem/rem";

.icons-header {
  display: flex;
  justify-content: center;
  text-align: center;

  .icon {
    text-align: center;
    color: #FFF;
    @include rem(width, 35px);
    @include rem(height, 35px);
    @include rem(font-size, 35px);
    @include rem(padding, 15px);
    @include rem(margin, 2px);
    transition: all .7s;
    border-radius: 50%;
    &:hover {
      color: $main;
      background: #FFF;
    }
    &:active {
      color: $main;
      background: #FFF;
    }
  }
}