@import "colours.scss";
@import "constants.scss";

.cpd {
  .icon {
    text-align: center;
    color: $main;
    padding: 2px;
    transition: all .7s;
    border-radius: 50%;
    &:hover {
      color: #FFF;
      background: $main;
    }
    &:active {
      color: #FFF;
      background: $main;
    }
  }

  .link {
    color: $sec;
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    margin: auto;
    &:hover {
      color: $main;
    }
    &:active {
      color: $main;
    }
  }
}