@import 'colours.scss';
@import "sass-rem/rem";

.footer {
  background: $main;
  @include rem(padding, 10px 0);
  @include rem(margin-top, 100px);
  text-align: center;
  color: #FFF;
  a {
    color: lightskyblue;
    text-decoration: none;
    margin: 0;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}
