@import 'colours.scss';
@import 'constants.scss';
@import "sass-rem/rem";

.header {
  z-index: 1;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  .site-title {
    @include rem(font-size, 100px);
    display: block;
    line-height: 1;

    @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 480px)
        and (orientation: portrait) {
      @include rem(font-size, 60px);
    }
  }
  .site-description {
    @include rem(font-size, 40px);
    display: block;
    line-height: 1;
    @include rem(margin, 5px 0 10px 0);

    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (orientation: portrait) {
      @include rem(font-size, 30px);
    }
  }

  .link {
    color: lighten($main, 60%);
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    @include rem(padding, 10px);
    &:hover {
      color: $sec;
    }
    &:active {
      color: $sec;
    }

    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (orientation: portrait) {
      @include rem(font-size, 10px);
    }
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (orientation: portrait) {
    h5 {
      @include rem(font-size, 20px);
    }
    @include rem(font-size, 15px);
  }
}

#particles-js {
  display: block;
  vertical-align: bottom;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background: $main no-repeat fixed;
  .particles-js-canvas-el {
    width:100vw !important;
    height:100vh !important;
  }
}

.user {
  text-align: center;
  @include rem(margin, 20px auto);
  @include rem(font-size, 60px);
  p {
    @include rem(font-size, 16px);
  }
}

.user-details {
  text-align: center;
  @include rem(font-size, 16px);
  @include rem(margin, 10px auto);
}

