@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'colours.scss';
@import 'header.scss';
@import 'animations.scss';
@import 'arrows.scss';
@import 'contact.scss';
@import 'footer.scss';
@import 'cpd.scss';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.section {
  display: block;
  vertical-align: bottom;
  background-size: cover;
  background: no-repeat fixed;
  .up.icon {
    background-color: $main;
  }
  .down.icon {
    background-color: $main;
  }
}
