@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'colours.scss';
@import 'header.scss';
@import 'animations.scss';
@import 'arrows.scss';
@import 'contact.scss';
@import 'footer.scss';
@import 'cpd.scss';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.section {
  display: block;
  vertical-align: bottom;
  background-size: cover;
  background: no-repeat fixed;
  text-align: justify;

  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  .standard_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 20%;
    justify-content: space-around;
    margin: auto;

    .standard_flex_item {
      dt {
        font-weight: bold;
      }
      display: flex;
      flex-direction: column;
      width: 350px;
      height: 100%;
      flex-grow: 1;
      padding-left: 2%;
      padding-right: 2%;
      justify-content: space-between;
      margin: 10px 0;
    }
  }
}

.centered {
  p, li {
    text-align: center;
  }
}

p, li {
  text-align: justify;
}
