@import 'colours.scss';
@import "sass-rem/rem";
@import "constants.scss";

body {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 100%;
  max-width: $cut;
  text-align: justify;
  display: block;

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 14px;
  }

  .header {
    vertical-align: bottom;
    background-size: cover;
    background: no-repeat fixed;
    text-align: center;
  }

  .section {
    vertical-align: bottom;
    background-size: cover;
    background: no-repeat fixed;
    text-align: justify;
  }

  .section-link {
    display: none;
    visibility: hidden;
  }


  .opensource {
    p {
      text-align: left;
    }
  }

  .standard_flex {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    -webkit-box-pack: center;

    .standard_flex_item {
      dt {
        font-weight: bold;
      }

      min-width: 47%;
      padding: 5px;
      margin: auto;
    }
  }

  .tech, .education {
    .standard_flex {
      display: block !important;
      .standard_flex_item {
        margin: 0 !important;
      }
    }
  }

  p, li {
    text-align: justify;
  }

  .site-title {
    font-size: 30px;
    display: block;
    line-height: 1;
  }

  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    margin: 5px 0 10px 0;
  }

  .footer {
    visibility: hidden;
  }
}