<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      {% for section in site.data.sections %}
          <section id="{{section.link}}" class="section">
              <div class="container">
                  <div class="user-details">
                      <h3>{{section.title}}</h3>
                      {% include {{section.link}}.html %}
                  </div>
                  <hr/>
              </div>
          </section>
      {% endfor %}
      {% include footer.html %}
  </body>
</html>
